.header{
    display:flex;
    justify-content: space-between;
background-color: rgb(67, 65, 65);
color: white;
}
.footer{
background-color: silver;
}
*{
margin:10px;
}
.menu{
    display:flex;
    gap: 20px;
}