.header{
    display:flex;
    justify-content: space-between;
background-color: rgb(67, 65, 65);
color: white;
}
.footer{
background-color: silver;
}
.container{
margin:0px;
}
#home{
    margin: 10px;
}
.menu{
    display:flex;
    gap: 20px;
    list-style: none;
}
.menu li a{
    list-style: none;
    margin: 10px;
    color: white;
}