body {
    background-color: #f4f4f4;
    color: #222;
    font-family: 'Segoe UI', sans-serif;
}
:root {
    --accent: #0077b5;  /* blue */
}
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
    max-width: 500px;
}

.header{
    
display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: rgb(67, 65, 65);
    color: white;
    padding: 20px 60px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);

}
.footer{
background-color: silver;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
.container{
margin:0px;
}

#home {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 80px;
}

#home h1{
    font-size: 40px;
    margin-bottom: 20px;
}

#home p{
    font-size: 18px;
    line-height: 1.6;
}

.section {
    margin: 100px auto;
    padding: 40px;
    max-width: 1200px;
}

.menu{
    display:flex;
    gap: 20px;
    list-style: none;
}

/*.menu li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.menu li a:hover{
    color: #00bfa6;   
}*/
.menu li a {
    color: white;
}

.menu li a:hover {
    color: var(--accent);
}
.mar{
    margin: 80px;
}
/*.box{
    text-align: center;
    border:2px solid black;
    margin:10px;
    padding: 20px;
    color: black;
}*/
.box{
    text-align: center;
    background-color: white;
    border-radius: 12px;
    margin: 20px;
    padding: 25px;
    color: black;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.box:hover{
    transform: translateY(-10px);
}
h1, h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

